@import "../../../../../utils/base/base";

.ExplorerPanel {
  background-color: rgba(0, 0, 0, 0.45);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  &[data-is-open=false] {
    height: 0px;
    opacity: 0;
    transform: translateX(-100%);
    transition: opacity 0.4s, height 0.4s, transform 0s 0.5s;

    .ExplorerPanel-content {
      opacity: 0;
      transition: opacity 0s;
    }
  }

  &[data-is-open=true] {
    height: 100%;
    opacity: 1;
    overflow-y: auto;
    transform: translateX(0);
    transition: opacity 0.4s, height 0.4s 0.2s;
    z-index: 9995;

    .ExplorerPanel-content {
      opacity: 1;
      transition: opacity 0s;
    }
  }

  &-content {
    background-color: #F7F7F7;
    box-shadow: 0px -1px 3px 4px #777;
  }

  &-header {
    width: 100%;
    padding-top: (@pad * 3);
  }

  &-title {
    float: left;
    font-family: 'Lato';
    font-weight: 200;
    margin-top: 0px;
    margin-bottom: @pad / 2;
    max-width: 80%;
    padding: 0px;
    text-align: left;
  }

  &-subtitle {
    color: #777777;
    display: block;
    float: left;
    font-family: 'Lato';
    font-size: 1em;
    font-weight: 400;
    margin-top: 0px;
    margin-bottom: @pad / 2;
    max-width: 80%;
    padding: 0px;
    text-align: left;
    width: 100%;
  }

  &-subcategory-list {
    .v-clean-list;
    display: block;
    width: 100%;
  }

  &-pull-button {
    .v-clean-btn;
    .v-no-outlines;
    margin-top: @pad;
  }

}
