@import "../../../utils/base/base";

.ProductHeader {
  background: #F7F7F7;

  &-header-container {
    padding: (@pad * 3) 0px;
  }

  &-header-content {
    margin-bottom: 1em;
  }

  &-results {
    color: #777777;
    display: block;
    font-family: 'Lato';
    font-weight: 400;
  }

  &-search-title {
    display: block;
    float: left;
    font-size: 1.8em;
    font-style: normal;
    font-weight: 400;
    margin-top: 0px;
    margin-bottom: @pad * 2;
    max-width: 100%;
    padding: 0px (@pad * 2);
    text-align: left;
  }

  &-buttons {
    margin-top: 0.75em;
    padding: 0px (@pad * 2);
  }
}
