@import "../../utils/base/base";

.ProductHeader {
  margin-top: 40px;
  width: 100%;
  background: #F7F7F7;
  box-shadow: 0px -1px 0px 1px rgba(0, 0, 0, 0.1);

  .icon {
    float: left;
    padding-top: @pad;
    padding-right: @pad;
  }

  .header-container {
    padding: (@pad * 3) 0px;
  }

  .header-title {
    font-family: 'Lato';
    font-weight: 200;
    margin-top: 0px;
    margin-bottom: @pad / 2;
    padding: 0px (@pad * 2);
    text-align: left;
  }

  .header-buttons {
    margin-top: 0.75em;
    padding: 0px (@pad * 4);
  }

  .header-results {
    color: #777777;
    display: block;
    font-family: 'Lato';
    font-weight: 400;
    padding: 0px (@pad * 2);
  }

  .header-content {
    margin-top: 1em;
  }

  .category-title {
    font-size: 28px;
    padding: 15px;
    text-align: left;
  }

  .category-quantity {
    display: block;
    font-size: 14px;
    font-weight: 500;
    padding: 0px 15px;
    margin-top: 40px;
  }

}
