@import "~utils/base/base";

.Header {
  &__inner {
    @media (max-width: @screen-xs-max) {
      background-color: #F6F6F6;
    }
  }

  &__menu {
    background-color: rgba(0, 0, 0, 0.1);
    width: 100%;
  }

  &__nav-desktop-inner {

    .NavigationMenuCategory__link {
      font-size: 18px;

      &:hover {
        border-top: 2px solid #713295;
      }
    }

    .nav > li > .NavigationMenuCategory__not-link {
      font-size: 18px;

      &:hover {
        border-top: 2px solid #713295;
      }
    }

    .NavigationMenuSubcategoryLink__text {
      font-size: 16px;
    }
  }
}
